<div
  id="custom-alia-form-selector"
  style="
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
  "
></div>

{% schema %}
{
  "name": "Alia Pop up Section",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Alia Pop up Section"
    }
  ]
}
{% endschema %}
