<div class="section section--padding{% if section.settings.divider %} section--divider{% endif %}{% if section.settings.rounded %} section--rounded relative{% endif %}">
  <div class="page-width{% if section.settings.narrow %} page-width--narrow{% endif %} relative">
    <div data--id="259692" class="-widget"></div>
  </div>
</div>

{%- comment -%}
  Note: The  app must be installed and active in your Shopify store for this widget to work.
  The  script will automatically initialize this widget when the page loads.
{%- endcomment -%}

{% schema %}
{
  "name": "Rebug cart widget",
  "settings": [
    
  ],
  "presets": [
    {
      "name": "Rebug cart widget",
    }
  ]
}
{% endschema %}